.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
    margin-right: -4px;
  }
}
.modal-dialog {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #949494;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border:0;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 100%;
  padding: 15px;
}
.common-close-btn{
  margin-right: 4px;
  float: right;
}
.he .common-close-btn{
  margin-left: 4px;
  float: left;
}
 .close-btn-icon{
  margin: -1px 4px 0 0;
}
.he .close-btn-icon{
  margin: -1px 0 0 4px;
}
 .mobile-close-button{
  float: right;
}
.he  .mobile-close-button{
  float: left;
}
.popup-header-dev{
  margin: 0 0 25px;
}
 .wrap-txt{
  overflow: hidden;
  float: left;
}
.he  .wrap-txt{
  float: right;
  text-align: right;
}
.header-title{
  margin: 0 0 5px;
  font-size: 25px;
  font-weight: 100;
  text-transform: capitalize;
}
@media screen and ( max-width: 991px ){
  .modal {
    padding: 0 !important;
    background: #ffffff;
  }
  .modal::before {
    content: none;
  }
  .modal-dialog {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    border: 0;
  }
  .modal-content{
    padding: 0;
  }
   .mobile-close-button{
    display: inline-block;
  }
   .common-close-btn{
    display: none;
  }
  .popup-header-dev {
    background: #F6F6F6;
    padding: 13px 15px;
    margin: 0 0 15px !important;
  }

  .he .header-title {
    float: left;
  }
  .header-para{
    display: none;
  }
   .common-close-btn{
    display: none;
  }
   .mobile-close-button{
    display: block;
  }
}
