@import "~bootstrap/scss/functions";

$font-family-sans-serif:  Roboto, Arimo, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$white:    #fff !default;
$gray-100: #fbfbfb !default; //Dicta
$gray-200: #f6f6f6 !default; //Dicta
$gray-300: #e3e3e3 !default; //Dicta
$gray-400: #cfd3d8 !default; //Dicta
$gray-500: #4A5057 !default; //Dicta
$black:    #000 !default;


$blue:    #007ee5 !default; //Dicta
$indigo:  #6610f2 !default;
$purple:  #bd10e0 !default; //Dicta
$pink:    #e83e8c !default;
$red:     #f00522 !default; //Dicta
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$colors: () !default;
$colors: map-merge((
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-300,
        "gray-dark":  $gray-500
), $colors);

$primary:       $blue !default;
$secondary:     $gray-500 !default; //Dicta
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default; //Dicta
$dark:          $gray-400 !default; //Dicta

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);
// stylelint-enable


$body-color:                $black !default; //Dicta

//$line-height-lg:              36px !default; //Dicta
//$line-height-sm:              20px !default; //Dicta

$border-width:                1px !default;
$border-color:                $gray-400 !default; //Dicta

$border-radius:               2px !default; //Dicta
$border-radius-lg:            3px !default; //Dicta
$border-radius-sm:            1px !default; //Dicta

$h1-font-size:                32px !default; //Dicta
$h2-font-size:                22px !default; //Dicta
$h3-font-size:                18px !default; //Dicta
$table-border-color:          $gray-400 !default; //Dicta
$btn-box-shadow:              1px 1px 2px 0px rgba($black, .035) !default; //Dicta

$input-color:                           $black !default; //Dicta
$input-border-color:                    $black !default; //Dicta
$input-box-shadow:                      none !default; //Dicta

$dropdown-border-color:             none !default; //Dicta
$dropdown-box-shadow:               0px 1px 4px 0px rgba($black, .175) !default; //Dicta

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$dropdown-link-active-color:        $component-active-color !default; //Dicta
$dropdown-link-active-bg:           $component-active-bg !default; //Dicta

@import '~bootstrap/scss/bootstrap.scss';