@import "~bootstrap/scss/functions";

$font-family-sans-serif:  Roboto, Arimo, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$white:    #fff !default;
$gray-100: #fbfbfb; //Dicta footer background
$gray-200: #f6f6f6; //Dicta background
$gray-300: #e3e3e3; //Dicta border, secondary
$gray-350: #b5b5b5; //Dicta focused button link
$gray-400: #8d8d8d; //Dicta gray text
$gray-500: #4A5057; //Dicta notification
$black:    #000 !default;


$blue:    #007ee5; //Dicta
$purple:  #bd10e0; //Dicta
$red:     #f00522; //Dicta

$colors: (
        "gray":       $gray-300,
        "gray-dark":  $gray-500
);

//$primary:       $blue !default;
$secondary:     $gray-300; //Dicta
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:         $gray-100; //Dicta
$dark:          $gray-500; //Dicta

//$theme-colors: () !default;
//$theme-colors: map-merge((
//        "primary":    $primary,
//        "secondary":  $secondary,
//        "success":    $success,
//        "info":       $info,
//        "warning":    $warning,
//        "danger":     $danger,
//        "light":      $light,
//        "dark":       $dark
//), $theme-colors);
// stylelint-enable


$body-color:                  $black; //Dicta

$border-width:                1px;
$border-color:                $gray-300; //Dicta

$border-radius:               2px; //Dicta
$border-radius-lg:            3px; //Dicta
$border-radius-sm:            2px; //Dicta

$headings-font-weight:        400;
$h1-font-size:                32px; //Dicta
$h2-font-size:                22px; //Dicta
$h3-font-size:                18px; //Dicta
$table-border-color:          $gray-300; //Dicta
$enable-shadows: true;
$btn-box-shadow:              1px 1px 2px 0px rgba($black, 0.35); //Dicta

$input-color:                 $black; //Dicta
$input-border-color:          $black; //Dicta
$input-box-shadow:            none;   //Dicta

$input-btn-padding-y:             0.21875rem; // 3.5px
$input-btn-padding-y-lg:          0.3125rem; // 5px

$btn-padding-x-sm:            .94rem;
$btn-padding-y-sm:            0;
$btn-padding-x:               1.125rem;
$btn-padding-x-lg:            1.875rem;

$input-btn-font-size:         0.875rem;   //14px
$input-btn-font-size-lg:      1rem;

$input-padding-x:             0.625rem;   // 10px
$input-padding-x-lg:          0.625rem;

$tooltip-bg: $gray-500;
$tooltip-arrow-color: transparent;
$tooltip-padding-x: 15px;
$tooltip-padding-y: 0;
$tooltip-font-size: 14px;
$tooltip-opacity: 1;

// modals

$modal-content-border-color:        none;
$modal-content-box-shadow-xs:       0 1px 4px 0 rgba(0, 0, 0, 0.3);
$modal-content-box-shadow-sm-up:    0 1px 4px 0 rgba(0, 0, 0, 0.3);

$modal-backdrop-opacity:            .03;
$modal-header-border-color:         none;
$modal-footer-border-color:         none;
$modal-header-padding-y:            0.5rem;

$small-font-size: 14px;

.modal-header {
  background-color: $gray-300;
}
.he {
  .modal-header, .modal-footer {
    direction: rtl;
  }
  .modal-footer > :not(:last-child) {
    margin-left: .25rem;
    margin-right: 0;
  }
  .modal-footer > :not(:first-child) {
    margin-left: 0;
    margin-right: .25rem;
  }
}

  .custom-control.custom-switch .custom-control-label {
    &::before {
      background-color: $gray-300;
      border: none;
    }
    &::after {
      background-color: #fff;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    }
  }

  $icon-sizes: (
          "large": 24px,
          "medium": 16px,
          "small": 12px,
          "x-small": 10px
  );

  @each $size, $value in $icon-sizes {
    .icon-size-#{$size} {
      font-size: $value;
    }
  }
  //$grid-breakpoints: (
  //        "xl": 1200px
  //);
  //
  //$container-max-widths: (
  //        xl: 1230px
  //);

  .he, .he .dropdown-menu, .he .dropdown-item {
    text-align: right;
    direction: rtl;
  }

  .he .custom-control {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .he .custom-control-label::before {
    right: -1.5rem;
    left: initial;
  }
  .he .custom-control-label::after {
    right: -1.5rem;
    left: initial;
  }

  .he .custom-switch {
    padding-left: 0;
    padding-right: 2.25rem;
  }
  .he .custom-switch .custom-control-label::before {
    left: 0;
    right: -2.25rem;
  }
  .he .custom-switch .custom-control-label::after {
    right: calc(-2.25rem + 2px);
  }

  .he .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(-0.75rem);
  }

  // section for dropdowns
  $dropdown-border-color:             none; //Dicta
  $dropdown-box-shadow:               0px 1px 4px 0px rgba($black, .3); //Dicta

  $dropdown-link-active-color:        $white; //Dicta
  $dropdown-link-active-bg:           $gray-300; //Dicta
  $dropdown-link-hover-color: $black;
  $dropdown-link-hover-bg: $gray-200;

  .dropdown-menu {
    box-shadow: $dropdown-box-shadow;
  }
  @mixin button-outline-dropdown($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
    color: $color;
    border-color: $color;

    &:hover {
      color: $color-hover;
      background-color: $active-background;
      border-color: $active-border;
    }

    &.disabled,
    &:disabled {
      color: $color;
      background-color: transparent;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: color-yiq($active-background);
      background-color: $active-background;
      border-color: $active-border;

      &:focus {
        box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  }
  //end dropdowns

  @import '~bootstrap/scss/bootstrap.scss';

  .btn-outline-dropdown {
    @include button-outline-dropdown($black, $black, $gray-300, transparent)
  }

  .btn-link {
    color: $black;

    &:hover {
      color: $black;
      background-color: $gray-300;
      text-decoration: none;
    }

    &:focus,
    &.focus {
      text-decoration: none;
      background-color: $gray-350;
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }

    // No need for an active state here
  }

  .btn-link-white {
    color: $white;
    text-decoration: underline;
    &:hover, &:focus, &.focus {
      color: $white;
      background-color: inherit;
      font-weight: bold;
      text-decoration: underline;
      box-shadow: none;
    }
  }

  .form-control:hover {
    border-color: $input-focus-border-color;
  }

  .alert-notification {
    color: #fff;
    background-color: $gray-500;
    border-radius: 3px;
    //border-color: $border;

    hr {
      //border-top-color: darken($border, 5%);
    }

    .alert-link {
      //color: darken($color, 10%);
    }
  }

  .notification {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-bottom: 0;
  }

  .btn-secondary {
    box-shadow: none;
  }

  .btn-outline-primary, .btn-outline-light{
    box-shadow: $btn-box-shadow;
  }
  .btn-outline-primary:not(:disabled):not(.disabled):hover {
    background: #fff !important;
    border-color: lighten($primary, 20%);
    color: lighten($primary, 20%);
    box-shadow: $btn-box-shadow;
  }
  .btn-outline-primary:not(:disabled):not(.disabled):active {
    background: #fff !important;
    border-color: darken($primary, 10%) !important;
    color: darken($primary, 10%) !important;
    box-shadow: none !important;
  }

  .text-underline {
    text-decoration: underline !important;
  }
  .custom-control-input:not(:disabled) ~ .custom-control-label {
    cursor: pointer;
  }
  .frame {
    border: 1px solid $gray-300;
    border-radius: $border-radius;
  }
  .raised-frame {
    box-shadow: $dropdown-box-shadow;
    border-radius: $border-radius;
  }
  // a way to make the dialogs default to centered
  //@media (min-width: 576px) {
  //  .modal-dialog {
  //    display: flex;
  //    flex-direction: column;
  //    height: 100%;
  //    margin: auto;
  //    justify-content: center;
  //  }
  //}

  // override position of X in invalid form input in Hebrew
 .he {
   .was-validated .form-control:invalid,
   .was-validated .form-control:valid, .form-control.is-invalid, .form-control.is-valid {
     background-position-x: calc(0.375em + 0.1875rem);
     padding-right: 0.625rem;
     padding-left: calc(1.5em + 0.4375rem);
   }
 }
